/* styles go here */

.main {
  margin: 20px 0;
}

.personalInformation,
.registration,
.interestingFacts,
.additionalInfo {
  margin: 10px 0;
  display: block;
}

.recommendation {
  margin: 10px 0;
}
